@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hero-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.hero-content-hello-btn {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  z-index: 10;

  h1 {
    font-family: v.$font-second;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;

    .cursor {
      margin-left: 4px;
      animation: blink 0.8s infinite;
      color: c.$accent-orange; // Oder eine deiner Akzentfarben
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  span {
    display: block; // Damit die Spans untereinander stehen
    font-size: 40px;
    font-family: v.$font-premier;
    font-weight: 100;
  }

  .send-messages {
    margin-top: 20px; // Schiebt den Button ein Stück weiter weg vom Text

    img {
      cursor: pointer;
      width: 155px; // Falls du die Größe kontrollieren willst
    }
  }

  .scroll-down {
    margin-top: 35px; // Drückt das Scroll-Icon ganz nach unten im Container

    img {
      height: 135px;
    }
  }
}

.hero-images {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;

  .profil-img {
    // Verhindert, dass das Bild breiter als die 40% oder höher als der Hero wird
    width: 375px;
    max-width: 620px;
    max-height: 100%;
    object-fit: contain; // Wichtig: Behält Proportionen bei, ohne zu überlappen
    display: block;
    z-index: 7;
  }

  .profil-bg-img {
    position: absolute;
    bottom: 175px;
    right: 54px;
    z-index: 6;
    width: 250px;
    max-height: 100%;
    object-fit: contain;
  }
}
