@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hero-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    position: relative;
    padding: 0 10px;

     .name-my{
      font-size: 54px;
      font-family: f.$font-premier;
      color: c.$titleName-white;
    }
}


.hero-content-hello-btn {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  z-index: 10;

  h1 {
    font-family: f.$font-second;
    color: c.$titleName-white;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;

    .cursor {
      margin-left: 4px;
      animation: blink 0.8s infinite;
      color: c.$accent-orange; // Oder eine deiner Akzentfarben
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  span {
    display: block; // Damit die Spans untereinander stehen
    font-size: 24px;
    font-family: f.$font-premier;
    color: c.$titleName-white;
    font-weight: 100;
  }

  .scroll-down {
    margin-top: 35px; // Drückt das Scroll-Icon ganz nach unten im Container

    img {
      height: 100px;
    }
  }
}
