@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hero-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1540px;
  margin: auto;
  position: relative;
  padding: 0 10px;
  
  @media (max-width: 570px) {
    padding: 0 20px;
  }

  .name-my {
    font-size: 96px;
    font-weight: 899;
    font-family: f.$font-second;
    color: c.$titleName-white;
    line-height: 1;
    @media (max-width: 925px) {
      font-size: 85px;
    }

    @media (max-width: 840px) {
      font-size: 60px;
    }

    @media (max-width: 570px) {
      font-size: 40px;
    }
  }
}

.hero-content-hello-btn {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  z-index: 10;

  @media (max-width: 840px) {
    height: 330px;
    justify-content: flex-end;
  }
  @media (max-width: 640px) {
    height: 220px;
  }
  @media (max-width: 321px) {
    height: 230px;
    gap: 0;
  }

  h1 {
    font-family: f.$font-second;
    color: c.$titleName-white;
    font-size: 48px;
    font-weight: 100;
    display: flex;
    align-items: center;
    @media (max-width: 925px) {
      font-size: 40px;
    }
    @media (max-width: 640px) {
      font-size: 24px;
    }
    @media (max-width: 640px) {
      font-size: 18px;
    }

    .cursor {
      margin-left: 4px;
      animation: blink 0.8s infinite;
      color: c.$accent-orange; // Oder eine deiner Akzentfarben
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  span {
    display: block;
    font-size: 48px;
    font-family: f.$font-second;
    color: c.$titleName-white;
    font-weight: 100;
    @media (max-width: 925px) {
      font-size: 40px;
    }
    @media (max-width: 840px) {
      font-size: 20px;
    }
  }

  .scroll-down {
    margin-top: 79px;
    @media (max-width: 925px) {
      position: relative;
      top: 23px;
    }

    @media (max-width: 840px) {
      position: relative;
      top: 159px;
    }

    @media (max-width: 640px) {
      position: relative;
      top: 215px;
    }

    @media (max-width: 570px) {
      position: relative;
      top: 206px;
      right: 10px;
    }

    @media (max-width: 361px) {
      top: 150px;
    }

    @media (max-width: 321px) {
      top: 134px;
      right: 5px;
    }

    img {
      height: 144px;
      @media (max-width: 640px) {
        height: 80px;
      }
    }
  }
}
