$max-width-content: 192px; 
$breakpoint-mobile: 768px;
$padding-0-72: 0 66px;
/* style-varibles/_variables.scss */

$font-second: 'QuickFont', serif;   // Für den Look aus deinem Bild (Hanna Schneider)
$font-premier: 'SpaceFont', monospace; // Für deine Developer-Texte