@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

.send-messages {
  margin-top: 20px; 

  img {
    cursor: pointer;
    width: 155px; 
  }
}
