@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

.name-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
  }

  span {
    font-family: f.$font-second;
    font-size: 55px;
    font-weight: 900;
    color: c.$titleName-white;
  }
}

@media screen and (max-width: 576px) {
  .name-middle {
           position: relative;
        left: -52px;
        top: -3px;
        span{
           font-size: 24px;
        }
  }
}

