@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

.name-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70px;
  }

  span {
    font-family: f.$font-second;
    font-size: 30px;
    font-weight: 900;
    color: c.$titleName-white;
  }
}
