@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

header {
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: auto;
   padding: v.$padding-0-20; 

  .header-left {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.2s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
    // Wir sprechen direkt das Komponenten-Tag an, 
    // das sich innerhalb deines Headers befindet.
    header app-header-social-btn {
        display: none !important;
    }
}