.burger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Verteilt die 3 Striche oben, mitte, unten
  cursor: pointer;

  span {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: 0.3s; // Macht die Bewegung geschmeidig
  }

  // Hover: Alle Striche werden orange
  &:hover span {
    background-color: #ff8a00;
  }

  // Wenn die Klasse "open" aktiv ist:
  &.open {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg); // Runter rücken und drehen
    }
    span:nth-child(2) {
      opacity: 0; // Mittlerer Strich wird unsichtbar
    }
    span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg); // Hoch rücken und andersrum drehen
    }
  }
}