@use "style-varibles/variables" as v;
@use "style-varibles/colors" as c;
@use "style-varibles/mixins" as m;

:host {
  display: block;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

// 1. ANFORDERUNG: Above the Fold immer 100vh
#hero {
  height: 100vh;
  min-height: 600px; 
@include m.metallic-gradient(c.$dark-blue);
  padding-bottom:0; 
}

#about {
  background-color: c.$about-beige; 
}

#skills {
  background-color: c.$skill-black;
}

#portfolio{
    background-color: c.$about-beige;
}

#references{
    background-color: c.$dark-blue;
}

#contact{
    background-color: c.$skill-black;
}

#footer{
    background-color: c.$skill-black;
}

// 2. ANFORDERUNG: Content begrenzt auf z.B. 1440px
.container {
  @include m.main-container; 
  height: 100%;
}