<section id="about">
  <div class="container">
    <app-about></app-about>
  </div>
</section>

<section id="skills">
  <div class="container">
    <app-skills></app-skills>
  </div>
</section>

<section id="portfolio">
  <div class="container">
    <app-portfolio></app-portfolio>
  </div>
</section>

<section id="references">
  <div class="container">
    <app-references></app-references>
  </div>
</section>

<section id="contact">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<app-footer></app-footer>