<section class="language-icons">
@if (isGerman) {
  <a (click)="toggleLanguage()" class="icon-de" style="cursor: pointer" aria-label="Switch to English">
    <img
      #deIcon
      src="assets/img/icons/iconsTransWhite/deBtnWhite.svg"
      (mouseenter)="deIcon.src = 'assets/img/icons/iconsTransWhite/deBtnOrange.svg'"
      (mouseleave)="deIcon.src = 'assets/img/icons/iconsTransWhite/deBtnWhite.svg'"
      alt="German Language Icon"
    />
  </a>
} @else {  
  <a (click)="toggleLanguage()" class="icon-en" style="cursor: pointer" aria-label="Auf Deutsch umstellen">
    <img
      #enIcon
      src="assets/img/icons/iconsTransWhite/enBtnWhite.svg"
      (mouseenter)="enIcon.src = 'assets/img/icons/iconsTransWhite/enBtnOrange.svg'"
      (mouseleave)="enIcon.src = 'assets/img/icons/iconsTransWhite/enBtnWhite.svg'"
      alt="English Language Icon"
    />
  </a>
}
</section>