@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

header {
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$padding-0-72;

  .header-left {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.2s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .name-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70px;
    }

    span {
      font-family: v.$font-second;
      font-size: 30px;
      font-weight: 900;
      color: c.$titleName-white;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
