* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Wichtig für korrekte Breitenberechnung
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; // Verhindert unschönes horizontales Scrollen
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* styles.scss */

@font-face {
  font-family: 'QuickFont';
  src: url('/assets/fonts/quick.ttf') format('truetype'); // Beachte den / am Anfang
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}