<a href="https://github.com/AndreasKissner" 
   class="icon-git" 
   aria-label="Git Hub"
   target="_blank" 
   rel="noopener noreferrer">
  <img
    #gitIcon
    src="assets/img/icons/git.svg"
    (mouseenter)="gitIcon.src = 'assets/img/icons/gitOrange.svg'"
    (mouseleave)="gitIcon.src = 'assets/img/icons/git.svg'"
    alt="Git Icon"
  />
</a>

<a href="https://www.linkedin.com/in/andreas-kissner-53557b347/" 
   class="icon-linkedin" 
   aria-label="Linkedin"
   target="_blank" 
   rel="noopener noreferrer">
  <img
    #linkedinIcon
    src="assets/img/icons/linkedin.svg"
    (mouseenter)="linkedinIcon.src = 'assets/img/icons/linkedinOrange.svg'"
    (mouseleave)="linkedinIcon.src = 'assets/img/icons/linkedin.svg'"
    alt="Linkedin Icon"
  />
</a>

<a href="#contact" class="icon-mail" aria-label="Mail">
  <img
    #mailIcon
    src="assets/img/icons/mail.svg"
    (mouseenter)="mailIcon.src = 'assets/img/icons/mailOrange.svg'"
    (mouseleave)="mailIcon.src = 'assets/img/icons/mail.svg'"
    alt="Mail Icon"
  />
</a>

