<div class="social-btn-container">
  
  <a href="https://github.com/AndreasKissner" class="social-link" target="_blank"
     (mouseenter)="gitHover.set(true)" (mouseleave)="gitHover.set(false)">
    @if (gitHover()) {
      <img src="assets/img/icons/socialBtn/gitOrange.svg" class="img-desktop" alt="Git">
    } @else {
      <img src="assets/img/icons/socialBtn/git.svg" class="img-desktop" alt="Git">
    }
    <img src="assets/img/icons/socialBtn/gitblack.svg" class="img-mobile black" alt="Git">
    <img src="assets/img/icons/socialBtn/gitOrange.svg" class="img-mobile orange-mobile" alt="Git">
  </a>

  <a href="https://www.linkedin.com/in/andreas-kissner-53557b347/" class="social-link" target="_blank"
     (mouseenter)="linkedInHover.set(true)" (mouseleave)="linkedInHover.set(false)">
    @if (linkedInHover()) {
      <img src="assets/img/icons/socialBtn/linkedinOrange.svg" class="img-desktop" alt="LinkedIn">
    } @else {
      <img src="assets/img/icons/socialBtn/linkedin.svg" class="img-desktop" alt="LinkedIn">
    }
    <img src="assets/img/icons/socialBtn/linkedinblack.svg" class="img-mobile black" alt="LinkedIn">
    <img src="assets/img/icons/socialBtn/linkedinOrange.svg" class="img-mobile orange-mobile" alt="LinkedIn">
  </a>

  <a href="#contact" class="social-link"
     (mouseenter)="mailHover.set(true)" (mouseleave)="mailHover.set(false)">
    @if (mailHover()) {
      <img src="assets/img/icons/socialBtn/mailOrange.svg" class="img-desktop" alt="Mail"> 
    } @else {
      <img src="assets/img/icons/socialBtn/mail.svg" class="img-desktop" alt="Mail">
    }
    <img src="assets/img/icons/socialBtn/emailblack.svg" class="img-mobile black" alt="Mail">
    <img src="assets/img/icons/socialBtn/mailOrange.svg" class="img-mobile orange-mobile" alt="Mail">
  </a>

</div>