.hero-images {
  
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;

  .profil-img {
    // Verhindert, dass das Bild breiter als die 40% oder höher als der Hero wird
    width: 390px;
    max-width: 620px;
    max-height: 100%;
    object-fit: contain; // Wichtig: Behält Proportionen bei, ohne zu überlappen
    display: block;
    z-index: 7;
  }

  .profil-bg-img {
    position: absolute;
    bottom: 195px;
    right: 54px;
    z-index: 6;
    width: 250px;
    max-height: 100%;
    object-fit: contain;
  }
   .profil-bg-img-2 {
    position: absolute;
    bottom: 3%;
    right: 274px;
    z-index: 6;
    width: 250px;
    max-height: 100%;
    object-fit: contain;
  }
}
