:host {
  position: absolute;
  bottom: 0;
  right: 190px; 
  z-index: 5;
  max-height: 100%;
}

.hero-images {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;

  .profil-img {
    width: 100%;
    max-width: 421px;
    height: auto;

    object-fit: contain;
    display: block;
    z-index: 7;

    @media (max-width: 949px) {
      max-width: 370px;
    }
  }
}

.profil-bg-img {
    position: absolute;
    bottom: 168px;
    right: -66px;
    z-index: 6;
    width: 324px;
    max-height: 100%;
    object-fit: contain;

  @media (max-width: 949px) {
    bottom: 150px;
    right: 10px;
    width: 180px;
  }
}
.profil-bg-img-2 {
  position: absolute;
  bottom: 3%;
  right: 220px;
  z-index: 6;
  width: 250px;
  max-height: 100%;
  object-fit: contain;
}
